# —————————————————— Better Auth ————————————————————
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET= # Generate a secret key: `bunx --bun @better-auth/cli secret`

# —————————————————— Cloudflare —————————————————————
TURNSTILE_SECRET_KEY=

# ————————————————————— Email ———————————————————————
EMAIL_FROM=